tr.teal{
    color: teal;
}
tr.red{
    color: red;
}
tr.blue{
    color: blue;
}
tr.orange{
   color:  orange;
}
tr.purple{
    color: purple;
}
tr.olive{
color: olive;
}
tr.fuchsia{
    color: fuchsia;
}
tr.green{
    color: green;
}
td.r{
background-color: red;
}
td.v{
    background-color: green;
}
td.a{
    background-color: blue;
}